<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Nuevo Riesgo</title>
	<% include partials/head %>
</head>


<!-- <body>
	<div class="container">
		<div class="col-sm-6 mx-auto">
			<div class="card mt-5">
				<div class="card-body">
					<h1 class="text-center">
						<span class="fa fa-sing-in"></span>Agregar
					</h1>
					<center>

						<form action="/addRiesgo" method="post">
							<div class="form-group">
								<label for="Nombre">Nombre</label>
								<input type="text" name="nombre">
							</div>
							<div class="form-group">
								<label for="Descripcion">Descripcion</label>
								<input type="text" name="descripcion">
							</div>

							<div class="form-group">
								<label for="ubicacion">ubicacion</label>
								<input type="text" name="ubicacion">
							</div>

							<div class="col">
								<button class="btn btn-primary">Agregar</button>
							</div>
					</center>
					</form>

					<hr>
					<div class="text-center">

						<p>
							<a href="/riegosAdmin">Volver</a>
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</body> -->

<div class="dashboard_container top-container">
    <div class="tab-content" id="myTabContent">
                <div class="card">
                        <div class="card-body Margenes">

							<div class="form-row">
								<div class="col">
									<Label>[Agregar un Switch]</Label>
								</div>
								<div class="col">
										<div class="form-group">
												<select class="form-control">
												  <option disabled selected>Selecciona un Riesgo</option>
												   <% 
													
												  for ( var i = 0; i < Riesgos.length; i++ )
														  {
															Riesgos[0].Riesgo == i;%>
															  <option value="<%=Riesgos[ i ].Riesgo %>"><%=Riesgos[i].Riesgo %></option><%
														  }
												  %> 

												</select>
											  </div>
								</div>
								<div class="col">
										<div class="form-group">

												<select class="form-control">
												  <option disabled selected>Selecciona una Tipología</option>
												</select>
											  </div>
								</div>
							</div>

						</div>
				</div>
	</div>
</div>

<select>
<%
	for(var i=0; i< 11; i++ ){
		 
		%>
		<option><%= Ubicar[i].Playa; %></option>
		<%
	}
%>
</select>
<!-- <form action="/Tipologia" method="post">
	<div class="form-group">
	  <input class="form-control"
	  type="text"
	  name="Riesgo">
	</div>
	<button type="submit" class="btn btn-primary btn-block">Entrar</button>
</form>  -->



</html>