<html>
    <head>
        <meta charset="utf-8">
        <title>Panel Princiapl</title>
        <% include partials/head %>
    </head>
    <body>

        <div class="container-fluid padding_elementos">
            <div class="row">
                <div class="card align-self-center">
                    <div class="card-body">

                            <a href="/addActuacionesActivas">ActuacionesActivas</a>
                            <br>
                            <hr>
                            <a href="/addActuacionesreactivas">ActuacionReactiva</a>
                            <br>
                            <hr>
                            <a href="/addConsecuencia">Consecuencia</a>
                            <br>
                            <hr>
                            <a href="/addEvento">Evento</a>
                            <br>
                            <hr>
                            <a href="/PlayaAdmin">Administrar Playa</a>
                            <br>
                            <hr>
                            <a href="/addRiesgo">Riesgo</a>
                            <br>
                            <hr>
                            <a href="/userAdmin">Usuarios</a>
                    </div>
                </div>
            </div>
        </div>

    </body>


</html>

