<html>
    <head>
        <title>Avisos Registrados</title>
        <% include partials/head %> 
    </head>

    <script>
        $( document ).ready(function() {
            window.Actuacion = <%- JSON.stringify(addActuacionReactiva) %>;

                if(Actuacion[0].campañasPrevencion == 1){
                 document.getElementById("defaultCheck1").checked = true;
                }
        })    
    </script>




    <body>
        <div class="dashboard_container top-container">
                <div class="tab-content" id="myTabContent">
                            <div class="card">

                                    <div class="card-body" style="margin-top: 60px; margin-bottom: 60px; margin-left: 20px; margin-right: 20px;">

                                            <h4><b>HISTÓRICO DE AVISOS REGISTRADOS</b></h4>
                                            <hr>
                                            <br>

                                        <div class="form-row">
                                            <div class="col-1"></div>
                                            <div class="col">
                                                    <div class="form-row">
                                                            <div class="col"></div><div class="col-auto"><h5>Acciones Preventivas</h5></div><div class="col"></div>
                                                    </div>
                                                    <div class="form-row">
                                                        <%
                                                            for(var i=0; i < addActuacionActiva.length; i++){
                                                                if(Playas.nombre === addActuacionActiva[i].playa ){
                                                            %><button type="button" class="btn btn-primary btn-sm btn-block"><%=addActuacionActiva[i].ActuacionActiva%></button><%
                                                            } }
                                                        %>
                                                    </div>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col">
                                                    <div class="form-row">
                                                            <div class="col"></div><div class="col-auto"><h5>Avisos Preventivos</h5></div><div class="col"></div>
                                                    </div>
                                                    <div class="form-row">
                                                            <%
                                                                for(var i=0; i < addActuacionReactiva.length; i++){
                                                                    if(Playas.nombre === addActuacionReactiva[i].playa ){
                                                                %><button type="button" class="btn btn-primary btn-sm btn-block" onclick="location='/avisos/modAvisosPreventivos/<%=addActuacionReactiva[i]._id%>'" ><%=addActuacionReactiva[i].ActuacionReactiva%></button> <%
                                                                } }
                                                            %>
                                                        </div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>




                                    </div>
                            </div>
                </div>
        </div>
    </body>


</html>