<html>
    <head>
            <title>Caracteristicas de Playa</title>
            <% include partials/head %>
    </head>
    <body>
                                        <!--Modificar Playa: Paso #1-->
            <div class="dashboard_container top-container">
                <div class="tab-content" id="myTabContent">
                            <div class="card">
                                    <div class="card-body Margenes">

                                        <h4><b>EDITAR CARACTERÍSTICAS DE PLAYA</b></h4>
                                        <hr>
                                        <br>

                                        <script>
                                            var contenido = 1;
                                            $( document ).ready(function() {
                                                $('#Contenido2, #Contenido3, #Contenido4, #Contenido5, #Contenido6, #Contenido7, #Contenido8').hide();
                                                

                                                 var datosOriginales = ["Municipio", "Provincia", "CCAA", "Longitud", "Anchura", "DescripcionPlaya", "CarreteraProxima", "ParadaAutobus", "PuertoDeportivo", "DistanciaPuertoPlaya", "ObservacionesGenerales", "NombreHospital" , "Direccion"];
                                                var datosPOST = ["MunicipioPOST", "ProvinciaPOST", "CCAAPOST", "LongitudPOST", "AnchuraPOST", "DescripcionPlayaPOST", "CarreteraProximaPOST", "ParadaAutobusPOST", "PuertoDeportivoPOST", "DistanciaPuertoPlayaPOST", "ObservacionesGeneralesPOST", "NombreHospitalPOST" , "DireccionPOST"];
                                                let element = '';
                                                console.log(datosOriginales.length);
                                                for(var i=0; i<datosOriginales.length; i++){
                                                element += `<input name="${datosOriginales[i]}" type="hidden" id="${datosPOST[i]}">`
                                               }
                                               document.getElementById("forms").innerHTML = element;
                                            });

                                           
                                            function Siguiente(){

                                                var datosOriginales = ["Municipio", "Provincia", "CCAA", "Longitud", "Anchura", "DescripcionPlaya", "CarreteraProxima", "ParadaAutobus", "PuertoDeportivo", "DistanciaPuertoPlaya", "ObservacionesGenerales", "NombreHospital" , "Direccion"];
                                                var datosPOST = ["MunicipioPOST", "ProvinciaPOST", "CCAAPOST", "LongitudPOST", "AnchuraPOST", "DescripcionPlayaPOST", "CarreteraProximaPOST", "ParadaAutobusPOST", "PuertoDeportivoPOST", "DistanciaPuertoPlayaPOST", "ObservacionesGeneralesPOST", "NombreHospitalPOST" , "DireccionPOST"];
                                               for(var i=0; i< 13; i++){
                                                console.log(i);
                                                document.getElementById(datosPOST[i]).value = document.getElementById(datosOriginales[i]).value;

                                               }
                                           


                                                
                                                if(contenido==1){
                                                $('#Contenido2').show(); 
                                                $('#Contenido1, #Contenido3, #Contenido4, #Contenido5, #Contenido6, #Contenido7, #Contenido8').hide();contenido++; }
                                                else if(contenido==2){
                                                $('#Contenido3').show(); 
                                                $('#Contenido1, #Contenido2, #Contenido4, #Contenido5, #Contenido6, #Contenido7, #Contenido8').hide();contenido++; }
                                                else if(contenido==3){
                                                $('#Contenido4').show(); 
                                                $('#Contenido1, #Contenido3, #Contenido2, #Contenido5, #Contenido6, #Contenido7, #Contenido8').hide();contenido++; }
                                                else if(contenido==4){
                                                $('#Contenido5').show(); 
                                                $('#Contenido1, #Contenido3, #Contenido4, #Contenido2, #Contenido6, #Contenido7, #Contenido8').hide();contenido++; }
                                                else if(contenido==5){
                                                $('#Contenido6').show(); 
                                                $('#Contenido1, #Contenido3, #Contenido4, #Contenido5, #Contenido2, #Contenido7, #Contenido8').hide();contenido++; }
                                                else if(contenido==6){
                                                $('#Contenido7').show(); 
                                                $('#Contenido1, #Contenido3, #Contenido4, #Contenido5, #Contenido6, #Contenido2, #Contenido8').hide();contenido++; }
                                                else if(contenido==7){
                                                $('#Contenido8, #botonGuardar').show(); 
                                                $('#Contenido1, #Contenido3, #Contenido4, #Contenido5, #Contenido6, #Contenido7, #Contenido2, #botonSiguiente').hide();contenido++; }   
                                            }
                                            
                                            function Atras(){
                                                contenido=contenido-2;
                                                Siguiente();
                                                if(contenido==0){
                                                $('#Contenido1').show(); 
                                                $('#Contenido2, #Contenido3, #Contenido4, #Contenido5, #Contenido6, #Contenido7, #Contenido8').hide();contenido++;}
                                                
                                            }

                                        </script>






                                        <div id="Contenido1">
                                            <div class="form-row" >
                                                    <div class="col"><input class="form-control" placeholder="Municipio" id="Municipio"></div>
                                                    <div class="col"><input class="form-control" placeholder="Provincia" id="Provincia"></div>
                                                    <div class="col"><input class="form-control" placeholder="CC AA:" id="CCAA"></div>
                                                </div>
                                                <br>
                
                                                <div class="form-row">
                                                    <div class="col-1"></div>
                                                    <div class="col"><input class="form-control" placeholder="Longitud" id="Longitud"></div>
                                                    <div class="col"><input class="form-control" placeholder="Anchura" id="Anchura"></div>
                                                    <div class="col-1"></div>
                                                </div>
                                                <br>
                                                <div class="form-row">
                                                    <div class="col"></div>
                                                    <div class="col-auto"><button type="button" class="btn btn-primary" onclick="Siguiente()">Siguiente</button></div>
                                                    <div class="col"></div>
                                                </div>
                                        </div>

                                        <div id="Contenido2">
                                                        <!--Modificar Playa: Paso #2-->
                                       
                                                <div class="form-row">
                                                    <div class="col">
                                                    
                                                        <select class="form-control" id="Pendiente" >
                                                            <option disabled selected>Pendiente</option>
                                                            <option>Ángulo Suave</option>
                                                            <option>Ángulo Normal</option>
                                                            <option>Pendiente Brusca</option>
                                                        </select>
                                                    </div>
                
                                                    <div class="col">
                                                        <select class="form-control" id="GradoOcupacion">
                                                            <option disabled selected >Grado de Ocupación</option>
                                                            <option>Alto</option>
                                                            <option>Medio</option>
                                                            <option>Suave</option>
                                                            
                
                                                        </select>
                                                    </div>
                
                                                    <div class="col">
                                                        <select class="form-control" id="GradoUrbanizacion">
                                                            <option disabled selected>Grado de Urbanización</option>
                                                            <option>Rural</option>
                                                            <option>Salvaje</option>
                                                            <option>Urbana</option>
                                                            <option>Aislada</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-row">
                                                <div class="col">
                                                    <textarea class="form-control" placeholder="Descripción de Playa" rows="3" id="DescripcionPlaya"></textarea>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-rows">
                                                    <select class="form-control" id="PaseoMaritimo">
                                                        <option disabled selected>Paseo Marítimo</option>
                                                        <option>Si</option>
                                                        <option>No</option>
                                                    </select>
                                                    <div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div>
                                                    <select class="form-control" id="FachadaLitoral">
                                                        <option disabled selected >Fachada Litoral</option>
                                                        <option>Urbano</option>
                                                        <option>Industrial</option>
                                                        <option>Natural</option>
                
                                                    </select>
                                                    </div>
                                                </div>
                                                </div>
                
                                                <br>
                                                <div class="form-row">
                                                    <div class="col"></div>
                                                    <div class="form-row">
                                                        <div class="col"><button type="button" class="btn btn-primary" onclick="Atras()">Atras</button></div>
                                                        <div class="col"><button type="button" class="btn btn-primary" onclick="Siguiente()">Siguiente</button></div>
                
                                                    </div>
                                                    <div class="col"></div>
                                                </div>
                                            
                                        </div>


                                        <div id="Contenido3">
                                                
                                                        <div class="form-row">
                                                          <div class="col">
                                                              <select class="form-control" id="Morfologia">
                                                                  <option disabled selected>Morfologia</option>
                                                                  <option>Arenosa</option>
                                                                  <option>Rocosa</option>
                                                              </select>
                                                          </div>
                                                            <div class="col">
                                                                <select class="form-control" id="Composicion">
                                                                    <option disabled selected>Composición</option>
                                                                    <option>Arena</option>
                                                                    <option>Gravilla</option>
                                                                    <option>Grava</option>
                                                                    <option>Bolos</option>
                                                                </select>
                                                            </div>
                                                            <div class="col">
                                                                <select class="form-control" id="TipoArena">
                                                                    <option disabled selected>Tipo Arena</option>
                                                                    <option>Dorada</option>
                                                                </select>
                                                            </div>
                        
                                                          </div>
                                                          <br><br>
                                                          <div class="form-row"><div class="col"></div><div class="col-auto"><h6>Condiciones de Baño</h6></div><div class="col"></div></div>
                                                          <div class="jumbotron jumbotron-fluid">
                                                            <div formGroupName="CaracteristicasPlaya">
                        
                                                          <div class="form-row" >
                                                                <div class="col"></div>
                                                                <div class="col-auto"><div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox">
                                                                  <label class="form-check-label"><b>Zona Fondeo</b></label>
                                                                </div></div>
                        
                                                                <div class="col-auto"><div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox">
                                                                  <label class="form-check-label"><b>Nudismo</b></label>
                                                                </div></div>
                        
                                                                <div class="col"></div>
                                                          </div>
                        
                        
                        
                        
                                                      </div>
                                                      <br><br>
                                                      <div class="form-row">
                                                          <div class="col-1"></div>
                                                          <div class="col">
                                                              <select class="form-control" id="TipoOleaje">
                                                                  <option disabled selected>Tipo de Oleaje</option>
                                                                  <option>Leve</option>
                                                                  <option>Moderado</option>
                                                                  <option>Fuerte</option>
                                                              </select>
                                                          </div>
                                                          <div class="col">
                                                              <select class="form-control" id="NivelViento">
                                                                  <option disabled selected>Nivel de Viento</option>
                                                                  <option>Leve</option>
                                                                  <option>Moderado</option>
                                                                  <option>Fuerte</option>
                                                              </select>
                                                          </div>
                                                          <div class="col-1"></div>
                                                      </div>
                        
                                                    </div>
                                                    
                                                    <div class="form-row">
                                                        <div class="col"></div>
                                                        <div class="form-row">
                                                            <div class="col"><button type="button" class="btn btn-primary" onclick="Atras()">Atras</button></div>
                                                            <div class="col"><button type="button" class="btn btn-primary" onclick="Siguiente()">Siguiente</button></div>
                                                        </div>
                                                        <div class="col"></div>
                                                    </div>

                        
                                        </div>


                                        <div id="Contenido4">
                                                
                                                        <div class="form-row"><div class="col"></div><div class="col-auto"><h4>Aspectos físicos y ambientales</h4></div><div class="col"></div></div>
                                                        <br>
                                                        <div class="jumbotron jumbotron-fluid">
                                                          <div class="form-row">
                                                                <div class="col"></div>
                                                                <div class="col-auto"><div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox">
                                                                  <label class="form-check-label"><b>Vegetación</b></label>
                                                                </div></div>
                                                                <div class="col-auto"><div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox">
                                                                  <label class="form-check-label"><b>Espacio Protegeido</b></label>
                                                                </div></div>
                                                                <div class="col-auto"><div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox">
                                                                  <label class="form-check-label"><b>Actuaciones</b></label>
                                                                </div></div>
                                                                <div class="col"></div>
                                                          </div>
                                                          <br>
                                                          <div class="form-row">
                                                            <div class="col"></div>
                        
                                                              <div class="col-auto"><div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox">
                                                                <label class="form-check-label"><b>Bandera Azul</b></label>
                                                              </div></div>
                                                              <div class="col"></div>
                                                          </div>
                                                        </div>
                                                          <div class="form-row"><div class="col"></div><div class="col-auto"><h4>Hospital más Cercano</h4></div><div class="col"></div></div>
                                                          <br>
                                                        <div class="form-row">
                                                            <div class="col"><input class="form-control" type="text" placeholder="Nombre de Hospital" id="NombreHospital"></div>
                                                            <div class="col"><input class="form-control" type="text" placeholder="Dirección" id="Direccion"></div>
                                                        </div>
                                                        <br>
                                                        <div class="form-row">
                                                            <div class="col"></div>
                                                            <div class="form-row">
                                                                    <div class="col"><button type="button" class="btn btn-primary" onclick="Atras()">Atras</button></div>
                                                                    <div class="col"><button type="button" class="btn btn-primary" onclick="Siguiente()">Siguiente</button></div>
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>
                        
                                        </div>

                                        <div id="Contenido5">


                                                
                                                        <div class="form-row"><div class="col"></div><div class="col-auto"><h4>Accesos</h4></div><div class="col"></div></div>
                                                          <div class="jumbotron jumbotron-fluid">
                                                              <div class="form-row">
                                                                    <div class="col"></div>
                                                                    <div class="col-auto"><div class="form-check form-check-inline">
                                                                      <input class="form-check-input" type="checkbox">
                                                                      <label class="form-check-label"><b>Coche</b></label>
                                                                    </div></div>
                          
                                                                    <div class="col-auto"><div class="form-check form-check-inline">
                                                                      <input class="form-check-input" type="checkbox">
                                                                      <label class="form-check-label"><b>Vehiculos de Emergencia</b></label>
                                                                    </div></div>
                          
                                                                    <div class="col-auto"><div class="form-check form-check-inline">
                                                                      <input class="form-check-input" type="checkbox">
                                                                      <label class="form-check-label"><b>Acceso Helicopteros</b></label>
                                                                    </div></div>
                                                                    <div class="col"></div>
                                                              </div>
                                                              <br>
                                                              <div class="form-row">
                                                                    <div class="col"></div>
                                                                    <div class="col-auto"><div class="form-check form-check-inline">
                                                                      <input class="form-check-input" type="checkbox">
                                                                      <label class="form-check-label"><b>Señalización de Accesos</b></label>
                                                                    </div></div>
                                                                    <div class="col"></div>
                                                              </div>
                                                        </div>
                                                        <div class="form-row">
                                                                <div class="col"></div>
                                                                <div class="form-row">
                                                                        <div class="col"><button type="button" class="btn btn-primary" onclick="Atras()">Atras</button></div>
                                                                        <div class="col"><button type="button" class="btn btn-primary" onclick="Siguiente()">Siguiente</button></div>
                                                                </div>
                                                                <div class="col"></div>
                                                        </div>


                                        </div>

                                        <div id="Contenido6">
                                                <div class="form-row"><div class="col"></div><div class="col-auto"><h4>Seguridad</h4></div><div class="col"></div></div>
                                                <div class="jumbotron jumbotron-fluid">
                                                  <div class="form-row">
                                                        <div class="col"></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Auxilio y Salvamento</b></label>
                                                        </div></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Accesibilidad de Vehículos de Emergencias</b></label>
                                                        </div></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Carteles Informativos</b></label>
                                                          
                                                        </div></div>
                                                        <div class="col"></div>
                                                  </div>
                                                  <br>
                                                  <div class="form-row">
                                                        <div class="col"></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Señalizacion de Peligro</b></label>
                                                        </div></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Accesibilidad para Helipuerto Provisional</b></label>
                                                        </div></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Base de Operaciones</b></label>
                                                        </div></div>
                                                        <div class="col"></div>
                                                  </div>
                                                  <br>
                                                  <div class="form-row">
                                                        <div class="col"></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Banderas</b></label>
                                                        </div></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Accesibilidad de Embarcaciones de Rescate</b></label>
                                                        </div></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Megafonía</b></label>
                                                        </div></div>
                                                        <div class="col"></div>
                                                  </div>
                                                  <br>
                                                  <div class="form-row">
                                                        <div class="col"></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Balizamiento Terrestre</b></label>
                                                        </div></div>
                                                        <div class="col-auto"><div class="form-check form-check-inline">
                                                          <input class="form-check-input" type="checkbox">
                                                          <label class="form-check-label"><b>Balizamiento Acuático</b></label>
                                                        </div></div>
                                                        <div class="col"></div>
                                                  </div>
                  
                  
                                                </div>
                  
                                                <div class="form-row">
                                                    <div class="col"></div>
                                                    <div class="form-row">
                                                            <div class="col"><button type="button" class="btn btn-primary" onclick="Atras()">Atras</button></div>
                                                            <div class="col"><button type="button" class="btn btn-primary" onclick="Siguiente()">Siguiente</button></div>
                                                    </div>
                                                    <div class="col"></div>
                                                </div>
                                        </div>

                                        <div id="Contenido7">

                                                        <div class="form-row">
                                                            <div class="col"><input class="form-control" type="text" placeholder="Carretera más Proxima" id="CarreteraProxima"></div>
                                                        </div>
                                                        <br>
                                                        
                                                        <div class="form-row">
                                                          <div class="col">
                                                            <input class="form-control" type="text" placeholder="Parada de AutoBus" id="ParadaAutobus">
                                                          </div>
                                                          <div class="col">
                                                                <select class="form-control" id="EstacionamientoGeneral">
                                                                        <option disabled selected value="">Estacionamiento General</option>
                                                                        <option>Libre</option>
                                                                        <option>Privado</option>
                                                                </select>
                                                          </div>
                                                        </div>
                                                        <br>
                                                        <div class="form-row">
                                                            <div class="col"></div>
                                                            <div class="form-row">
                                                                    <div class="col"><button type="button" class="btn btn-primary" onclick="Atras()">Atras</button></div>
                                                                    <div class="col"><button type="button" class="btn btn-primary" onclick="Siguiente()">Siguiente</button></div>
                                                            </div>
                                                            <div class="col"></div>
                                                        </div>  
                                        </div>

                                        <div id="Contenido8">
                                                    <div class="form-row">
                                                        <div class="col"><input class="form-control" type="text" placeholder="Puerto Deportivo" id="PuertoDeportivo"></div>
                                                        <div class="col"><input class="form-control" type="text" placeholder="Distancia Puerto de Playa" id="DistanciaPuertoPlaya"></div>
                                                    </div>
                                                    <br>
                                                    <div class="form-row"><div class="col"></div><div class="col-auto"><label>Observaciones Generales</label></div><div class="col"></div></div>
                                                    <div class="form-row"><textarea class="form-control" rows="3" id="ObservacionesGenerales"></textarea></div>
                                                    <br>
                                                    <div class="form-row">
                                                        <div class="col"></div>
                                                        <div class="form-row">
                                                                <div class="col"><button type="button" class="btn btn-primary" onclick="Atras()">Atras</button></div>
                                                                <div class="col"><button type="button" class="btn btn-primary" onclick="Siguiente()" id="botonSiguiente">Siguiente</button></div>
                                                                <div class="col"><button type="button" class="btn btn-primary" onclick="Guardar()" id="botonGuardar">Guardar</button></div>
                                                        </div>
                                                        <div class="col"></div>
                                                    </div>
                                        </div>

                                        <script>
                                        function Guardar(){
                                            document.getElementById("forms").submit();
                                        }
                                        </script>


                                        <!--DATOS DE FORMULARIO-->
                                        <form action="/caracteristicasPlaya" method="POST" id="forms">

                                        </form>
                                       
                                        









                                    </div>
                            </div>
                </div>
            </div>
    </body>
</html>