<html>
    <head>
            <meta charset="utf-8"></meta>
            <title>Incidentes</title>
            <% include partials/head %>
    </head>
    <body>
        <div class="dashboard_container top-container">
            <div class="tab-content" id="myTabContent">
                        <div class="card">
                                <div class="card-body Margenes">
                                </div>
                        </div>
            </div>
        </div>
    </body>
</html>