<html>
    <head>
            <meta charset="utf-8"></meta>
            <title>Incidentes</title>
            <% include partials/head %>
    </head>

    <script type="text/javascript">
        window.eventos = <%- JSON.stringify(Eventos) %>
      </script>
      <script>
          function onChange() {
            var id = document.getElementById("eventosSelect").value; 
         
      
            const event = eventos.filter((ev) => ev._id == id)
           
            let descriptionsHTML = ''
            event[0].descripcion.forEach(des => {
              descriptionsHTML += `<option value=${des.name}> ${des.name} </option>`
            })
            document.getElementById("descripcionSelect").innerHTML = descriptionsHTML;
          }
      </script>


    <body>
        <!-- <script>
            $( document ).ready(function() {
                $("#Intervenciones").hide();
            });
        </script> -->
        <div class="dashboard_container top-container">
            <div class="tab-content" id="myTabContent">
                        <div class="card">
                                <div class="card-body Margenes">

                                    <script>
                                            var contenedores = document.getElementsByClassName('contenedores'), i;

                                            function hideContenedores(){
                                                for (var i = 0; i < contenedores.length; i ++) {
                                                    contenedores[i].style.display = 'none';
                                                }
                                                
                                            }

                                            $( document ).ready(function() {
                                                $("#Contenido0").show();
                                                hideContenedores();
                                            });

                                            function Siguiente(){
                                                $("#Contenido0").hide();
                                                hideContenedores();
                                                $("#Contenido1").show();

                                            }


                                        
                                    </script>
                                        
                                    

                                        <div id="Contenido0">
                                                <div class="form-row">
                                                        <div class="col"></div><div class="col-auto"><h5>Horario</h5></div><div class="col"></div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col"></div><div class="col">
                                                          <select class="form-control" id="SelectHorario">
                                                              <option disabled selected>Selecciona una Opción</option>
                                                              <option value="Dentro">Dentro</option>
                                                              <option value="Fuera">Fuera</option>
                                                            </select>
                                                      </div><div class="col"></div>
                                                    </div>
                                                    <br>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <select class="form-control" id="eventosSelect" onchange="onChange()">
                                                                <option disabled selected>Evento</option>
                                                                <% for(var i=0; i< Eventos.length; i++) {%>
                                                                    <option value='<%= Eventos[i]._id %>'>
                                                                      <%= Eventos[i].evento %>
                                              
                                                                    </option>
                                                                    <% } %>
                                                              </select>
                                                        </div>
                                                        <div class="col">
                                                            <select class="form-control" id="descripcionSelect">
                                                                <option disabled selected>Descripción</option>
                                                              </select>
                                                        </div>
                                                        <div class="col">
                                                            <select class="form-control" id="SelectConsecuencias">
                                                                <option disabled selected>Consecuencias</option>
                                                                <option value="Sin consecuencias">Sin consecuencias</option>
                                                                <option value="Recomendación de observación posterior">Recomendación de observación posterior</option>
                                                                <option value="Traslado a Centro Hospitalario">Traslado a Centro Hospitalario</option>
                                                                <option value="Ahogamiento mortal sin aspiración">Ahogamiento mortal sin aspiración</option>
                                                                <option value="Ahogamiento mortal con aspiración">Ahogamiento mortal con aspiración</option>
                                                                <option value="Fallecimiento sin ahogamiento">Fallecimiento sin ahogamiento</option>
                                                                <option value="Lesiones">Lesiones</option>
                                                                <option value="PCR recuperada y traslado a centro hospitalario">PCR recuperada y traslado a centro hospitalario</option>
                                                              </select>
                                                        </div>
                                                      </div>
                                                      <br>
                                        </div>

                                        <div class="form-row">
                                                <div class="col"></div>
                                                <div class="col-auto">
                                                      <button type="button" class="btn btn-primary" onclick="backPage()" id="backButton">Atras</button>
                                                    <button type="button" class="btn btn-primary" onclick="Siguiente()">Siguiente</button>
                                                </div>
                                                <div class="col"></div>
                                            </div>

                                        

                                        <div class="contenedores" id="Contenido1" style="display:none">
                                                    <div class="form-row">
                                                        <div class="col"><input class="form-control" placeholder="Fecha" id="fecha"></div>
                                                            <div class="col-md-1"><input class="form-control" placeholder="Hora" id="hora"></div>
                                                            <div class="col-md-1"><input class="form-control" placeholder="Minuto" id="minuto"></div>
                                                            <div class="col-md-1"><input class="form-control" placeholder="Segundo" id="segundo"></div>
                                                        
                                                      <div class="col">
                                                            <select class="form-control" id="Sexo">
                                                              <option disabled selected>Sexo</option>
                                                              <option value="Hombre">Hombre</option>
                                                              <option value="Mujer">Mujer</option>
                                                              <option value="Otro">Otro</option>
                                                            </select>
                                                        </div>
                                        
                                                      <div class="col">
                                                          <div class="form-check">
                                                              <input class="form-check-input" type="checkbox" value="1" id="defaultCheck1">
                                                              <label class="form-check-label" for="defaultCheck1">
                                                                Campaña de Prevención
                                                              </label>
                                                            </div>
                                                      </div>
                                                </div>
                                        
                                                <br>
                                        
                                                <div class="form-row">
                                                      <div class="col">
                                                          <select class="form-control" id="Pais">
                                                              <option disabled selected>Pais</option>
                                                              <option value="Pais1">Pais1</option>
                                                            </select>
                                                      </div>
                                                      <div class="col">
                                                          <select class="form-control" id="Edad">
                                                              <option disabled selected>Edad</option>
                                                              <option value="Edad1">Edad1</option>
                                                            </select>
                                                      </div>
                                                      <div class="col">
                                                          <select class="form-control" id="Actividad">
                                                              <option disabled selected>Actividad</option>
                                                              <option value="Actividad1">Actividad1</option>
                                                            </select>
                                                      </div>
                                                </div>
                                        
                                                <script>
                                                    $("#Sexo").change(function() {
                                                        var val = $(this).val();
                                                        document.getElementById("SexoPost").value = val;
                                                    });
                                                    $("#Pais").change(function() {
                                                        var val = $(this).val();
                                                        document.getElementById("PaisPost").value = val;
                                                    });
                                                    $("#Edad").change(function() {
                                                        var val = $(this).val();
                                                        document.getElementById("EdadPost").value = val;
                                                    });
                                                    $("#Actividad").change(function() {
                                                        var val = $(this).val();
                                                        document.getElementById("ActividadPost").value = val;
                                                    });
                                        
                                                    $('#defaultCheck1').on('change', function(){
                                                      this.value = this.checked ? 1 : 0;
                                                      document.getElementById("campañaPost").value = this.value;
                                                    }).change();
                                        
                                                    function RellenarForms(){
                                                      document.getElementById("FechaPost").value = document.getElementById("fecha").value;
                                                      document.getElementById("HoraPost").value = document.getElementById("hora").value;
                                                      document.getElementById("MinutoPost").value = document.getElementById("minuto").value;
                                                      document.getElementById("SegundoPost").value = document.getElementById("segundo").value;
                                                    }
                                        
                                              </script>
                                                
                                                <br>
                                                <div id="map"></div>
                                                <br>
                                        
                                        
                                                <div class="form-row">
                                                  <div class="col"></div>
                                                  <div class="col-auto">
                                                      <form action="/addReactivas" method="post" >
                                                        <input type="hidden" name="ActuacionReactiva" id="ActuacionReactivaPost">
                                                        <input type="hidden" name="playa" id="ActuacionReactivaPlaya">
                                                        <input type="hidden" name="sexo" id="SexoPost">
                                                        <input type="hidden" name="edad" id="EdadPost">
                                                        <input type="hidden" name="actividad" id="ActividadPost">
                                                        <input type="hidden" name="pais" id="PaisPost">
                                                        <input type="hidden" name="fecha" id="FechaPost">
                                                        <input type="hidden" name="hora" id="HoraPost">
                                                        <input type="hidden" name="minuto" id="MinutoPost">
                                                        <input type="hidden" name="segundo" id="SegundoPost">
                                                        <input type="hidden" name="campañasPrevencion" id="campañaPost">
                                                        <input type="hidden" name="lat" id="latitudRiesgo">
                                                        <input type="hidden" name="lng" id="longitudRiesgo">
                                                        <button type="submit" class="btn btn-primary" onclick="RellenarForms()">Guardar y Cerrar</button>
                                                      </form>
                                                    
                                                  </div>
                                                  <div class="col"></div>
                                                </div>
                                                  
                                        </div>
                                        
                                        

                                        <div class="contenedores" id="Contenido2" style="display:none">
                                            <div class="form-row">
                                                <div class="col">
                                                    <label for="DeteccionSuceso">¿Cómo se ha detectado el Suceso?</label>
                                                    <select class="form-control" id="DeteccionSuceso">
                                                        <option selected disabled>Seleccione una Opción</option>
                                                      </select>
                                                </div>
                                                <div class="col">
                                                        <label for="LugarAnteriorSuceso">¿Dónde estaba la víctima justo antes del suceso?</label>
                                                        <select class="form-control" id="LugarAnteriorSuceso">
                                                            <option selected disabled>Seleccione una Opción</option>
                                                          </select>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="jumbotron jumbotron-fluid">
                                                    
                                                      
                                                        <div class="form-row form-check text-center">
                                                            <input class="form-check-input" type="checkbox" value="" id="Check1">
                                                            <label class="form-check-label" for="Check1">¿Ha sido necesaria intervención fuera del puesto?</label>   
                                                        </div>

                                                        <br>

                                                        <div id="Intervenciones" style="display:none">
                                                                <div class="form-row form-check text-center">
                                                                    <input class="form-check-input" type="checkbox" value="" id="Check2">
                                                                    <label class="form-check-label" for="Check2">¿Ha sido necesario un desplazamiento terrestre hacia la víctima?</label>   
                                                                </div>
                                                                <br>

                                                                                <div id="DesplazamientoTerrestre" style="margin-left: 50px; margin-right: 50px; display: none">
                                                                                    <div class="form-row">
                                                                                            <div class="col">
                                                                                                <select class="form-control" id="DesplazamientoTerrestre1">
                                                                                                    <option selected disabled>Distancia Recorrida</option>
                                                                                                    </select>
                                                                                            </div>
                                                                                            <div class="col">
                                                                                                <select class="form-control" id="DesplazamientoTerrestre2">
                                                                                                        <option selected disabled>Tipo Desplazamiento Hacia la Víctima</option>
                                                                                                        </select>
                                                                                            </div>
                                                                                            <div class="col-2">
                                                                                                <input class="form-control" placeholder="mm:ss">
                                                                                            </div>
                                                                                    </div>
                                                                                    <br>
                                                                                    <div class="form-row">
                                                                                            <div class="col"></div>
                                                                                                    <div class="col-auto">
                                                                                                            <select class="form-control" id="TrasladoPrimeroAuxilios">
                                                                                                                    <option selected disabled>¿Traslado al Puesto de Primeros Auxilios?</option>
                                                                                                                    <option value="1">Si</option><option value="0">No</option>
                                                                                                            </select>
                                                                                                    </div>
                                                                                                    
                                                                                                    <div class="col-auto" id="TipoTraslado" style="display:none">
                                                                                                            <select class="form-control" id="">
                                                                                                                    <option selected disabled>Tipo Traslado</option>
                                                                                                                    
                                                                                                            </select>
                                                                                                    </div>
                                                                                            <div class="col"></div>
                                                                                    </div>
                                                                                    <br>
                                                                                </div>


                                                                <div class="form-row form-check text-center">
                                                                    <input class="form-check-input" type="checkbox" value="" id="Check3">
                                                                    <label class="form-check-label" for="Check3">¿Ha sido necesario un desplazamiento acuático hacia la víctima?</label>   
                                                                </div>
                                                                <br>

                                                                                <div id="DesplazamientoAcuatico" style="margin-left: 50px; margin-right: 50px; display: none">
                                                                                        <div class="form-row">
                                                                                                <div class="col">
                                                                                                    <select class="form-control" id="DistanciaDesplazamiento">
                                                                                                        <option selected disabled>Distancia del Desplazamiento</option>
                                                                                                        </select>
                                                                                                </div>
                                                                                                <div class="col">
                                                                                                    <select class="form-control" id="ProfundidadVictima">
                                                                                                            <option selected disabled>¿A qué profundidad se encontraba la víctima?</option>
                                                                                                            </select>
                                                                                                </div>
                                                                                        </div>
                                                                                        <br>
                                                                                        <div class="form-row">
                                                                                                <div class="col">
                                                                                                    <select class="form-control" id="MaterialesUtilizados">
                                                                                                        <option selected disabled>¿Qué materiales de apoyo se utilizaron?</option>
                                                                                                        </select>
                                                                                                </div>
                                                                                                <div class="col">
                                                                                                    <select class="form-control" id="EstadoAccidentado">
                                                                                                            <option selected disabled>Estado del accidentado en el primer contacto</option>
                                                                                                            </select>
                                                                                                </div>
                                                                                        </div>
                                                                                        <br>
                                                                                        <div class="form-row">
                                                                                                <div class="col"></div>
                                                                                                <div class="col-auto">
                                                                                                        <select class="form-control" id="TrasladoRemolque">
                                                                                                                <option selected disabled>¿Traslado al Puesto de Primeros Auxilios?</option>
                                                                                                                <option value="1">Si</option><option value="0">No</option>
                                                                                                        </select>
                                                                                                </div>
                                                                                                <div id="AyudaRecibidaSH" class="col-auto" style="display:none">
                                                                                                        <select class="form-control" id="AyudaRecibida">
                                                                                                                <option selected disabled>¿Ayuda Recibida?</option>
                                                                                                                <option value="1">Si</option><option value="0">No</option>
                                                                                                        </select>
                                                                                                </div>
                                                                                                <div id="PorQuienesSH" class="col-auto" style="display:none">
                                                                                                        <select class="form-control" id="PorQuienes">
                                                                                                                <option selected disabled>¿Por quienes?</option>
                                                                                                                
                                                                                                        </select>
                                                                                                </div>
                                                                                                <div class="col"></div>
                                                                                        </div>
                                                                                        <br>
                                                                                        <div class="form-row">
                                                                                                <div class="col">
                                                                                                        <label for="TipoExtraccionVictima"><small>Tipo de extracción de la víctima en la orilla</small></label>
                                                                                                        <select class="form-control" id="TipoExtraccionVictima">
                                                                                                            <option selected disabled>Seleccione una Opción</option>
                                                                                                          </select>
                                                                                                </div>
                                                                                                <div class="col">
                                                                                                        <label for="DuracionEstimadaIntervencion"><small>Duración estimada de la intervención acuática</small></label>
                                                                                                        <input id="DuracionEstimadaIntervencion" class="form-control" placeholder="mm:ss">
                                                                                                </div>
                                                                                        </div>
                                                                                        <br>
                                                                                    </div>

                                                                <div class="form-row form-check text-center">
                                                                    <input class="form-check-input" type="checkbox" value="" id="Check4">
                                                                    <label class="form-check-label" for="Check4">¿Ha sido necesaria la aplicación de primeros auxilios?</label>   
                                                                </div>


                                                                            <div id="AplicacionPrimerosAuxilios" style="margin-left: 50px; margin-right: 50px;">
                                                                                <br><br>
                                                                                <div class="form-row">
                                                                                    <div class="col">
                                                                                        <div class="custom-control custom-checkbox text-center">
                                                                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                                            <label class="custom-control-label" for="customCheck1"><h5>RCP</h5></label>
                                                                                        </div>
                                                                                        <br>
                                                                                        <div class="form-row" id="RCPSH" style="display:none">
                                                                                                <div class="col"></div>
                                                                                                <div class="col-auto">
                                                                                                        <label for="Tiempo"><small>Tiempo</small></label>
                                                                                                        <input placeholder="mm:ss" class="form-control" id="Tiempo">
                                                                                                </div>
                                                                                                <div class="col"></div>
                                                                                        </div>


                                                                                    </div>
                                                                                    <div class="col">
                                                                                        <div class="custom-control custom-checkbox text-center">
                                                                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                                                            <label class="custom-control-label" for="customCheck2"><h5>DESA</h5></label>
                                                                                        </div>
                                                                                        <br>
                                                                                        <div id="DESASH" class="form-row" style="display:none">
                                                                                                <div class="col-auto">
                                                                                                        <label for="Tiempo"><small>Tiempo</small></label>
                                                                                                        <input placeholder="mm:ss" class="form-control" id="Tiempo">
                                                                                                </div>
                                                                                                <div class="col-auto">
                                                                                                        <select class="form-control" id="">
                                                                                                                <option selected disabled>¿Descargas?</option>
                                                                                                                <option value="1">Si</option><option value="0">No</option>
                                                                                                        </select>
                                                                                                </div>
                                                                                                <div class="col-2">
                                                                                                    <input placeholder="Nº" class="form-control">
                                                                                                </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    
                                                                                </div>
                                                                                
                                                                                <div class="form-row">
                                                                                        <div class="col">
                                                                                                <label for="QuienInicia"><small>Quién Inicia:</small></label>
                                                                                                <select class="form-control" id="QuienInicia">
                                                                                                    <option selected disabled>Seleccione una Opción</option>
                                                                                                  </select>
                                                                                        </div>
                                                                                        <div class="col">
                                                                                                <label for="QuienParticipa"><small>Quién Participa:</small></label>
                                                                                                <select class="form-control" id="QuienParticipa">
                                                                                                    <option selected disabled>Seleccione una Opción</option>
                                                                                                  </select>
                                                                                        </div>
                                                                                </div>
                                                                                
                                                                                







                                                                            </div>

                                                        </div>
                                                    
                                                  </div>
                                            
                                            




                                        </div>












                                        <script>
                                                $('#Check1').on('change', function(){
                                                    this.value = this.checked ? $("#Intervenciones").show() : $("#Intervenciones").hide();}).change();

                                                $('#Check2').on('change', function(){
                                                this.value = this.checked ? $("#DesplazamientoTerrestre").show() : $("#DesplazamientoTerrestre").hide();}).change();
                                                
                                                $('#Check3').on('change', function(){
                                                this.value = this.checked ? $("#DesplazamientoAcuatico").show() : $("#DesplazamientoAcuatico").hide();}).change();
                                                
                                                $('#Check4').on('change', function(){
                                                this.value = this.checked ? $("#AplicacionPrimerosAuxilios").show() : $("#AplicacionPrimerosAuxilios").hide();}).change();
                                                
                                                $('#customCheck1').on('change', function(){
                                                this.value = this.checked ? $("#RCPSH").show() : $("#RCPSH").hide();}).change();

                                                $('#customCheck2').on('change', function(){
                                                this.value = this.checked ? $("#DESASH").show() : $("#DESASH").hide();}).change();
                                        
                                        </script>

                                        <script>
                                                $("#TrasladoPrimeroAuxilios").change(function() {
                                                    var val = $(this).val();
                                                    if(val==1)
                                                        $("#TipoTraslado").show();
                                                    else
                                                        $("#TipoTraslado").hide();
                                                });

                                                $("#TrasladoRemolque").change(function() {
                                                    var val = $(this).val();
                                                    if(val==1)
                                                    $("#AyudaRecibidaSH").show();
                                                    else
                                                     $("#AyudaRecibidaSH").hide();
                                                });

                                                $("#AyudaRecibida").change(function() {
                                                    var val = $(this).val();
                                                    if(val==1)
                                                        $("#PorQuienesSH").show();
                                                    else
                                                        $("#PorQuienesSH").hide();
                                                });
                                        </script>
                                           
                                        <script>
                                        function backPage(){
                                            window.history.back();
                                        }
                                        </script>

                                                <!-- <form action="/sxs" method="post">
                                                    <input name="DeteccionSuceso">
                                                    <input name="LugarAntesSuceso">
                                                    <input name="DistanciaRecorrida">
                                                    <input name="TipoDesplazamientoHaciaVictima">
                                                    <input name="TipoTraslado">
                                                    <input name="DistanciaDesplazamiento">
                                                    <input name="ProfundidadVictima">
                                                    <input name="MaterialesUtilizados">
                                                    <input name="EstadoAccidentadoPrimerContacto">
                                                    <input name="AyudaRecibidaPor">
                                                    <input name="TipoExtraccionVictima">
                                                    <input name="QuienInicia">
                                                    <input name="QuienParticipa">

                                                    <button type="submit">Shit</button>
                                                </form> -->
















                                </div>
                        </div>
            </div>
        </div>
    </body>
    <% include partials/Mapa %>
</html>