<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<% include partials/head %>
		<!--llama a head.ejs (No es necesario poner ejs en head por que este lo pone por defecto) -->

		<!--<body>
			<div class="container">
				<div class="card text-center mt-5">
					<div class="card-body">
						<h1>
							<span class="fa fa-lock"></span> Entra o Registrate</h1>
						<a href="/login" class="btn btn-light">
							<span class="fa fa-user">Entrar</span>
						</a>

						<a href="/signup" class="btn btn-light">
							<span class="fa fa-user"> Registrate</span>
						</a>
					</div>

				</div>

			</div>
		</body>-->

		<body class="landing">

				<div>
				  <div id="principal">
			
							<section id="banner"></section>
							  <section id="main" class="container">
								<div class="card">
						  <div class="card-block">
							<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
							<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
							<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			
								  </div>
								  </div>
							  </section>
			
							</div>
				</div>
			</body>

</html>