<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<% include partials/head %>

		
		<body>
				
				<div class="container-fluid padding_elementos">
				  <div class="row">
					<div class="card align-self-center">
				  <div class="card-body">
				  <form action="/login" method="post">
							  <div class="form-group">
								<label for="exampleInputEmail1">Usuario:</label>
								<input type="text" class="form-control" placeholder="Usuario"
								type="text"
								name="email">
				
							  </div>

							  <div class="form-group">
								<label for="exampleInputPassword1">Contraseña:</label>
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
								name="password">
				
				
								<button type="button" class="btn btn-link">¿Haz olvidado tu contraseña?</button>
							  </div>
				
							  <button type="submit" class="btn btn-primary btn-block">Entrar</button>
				  </form>
				  <br>
				  
				
				
				  </div>
				</div>
				
				</div>

				</div>
				</body>

</html>