<html>
    <head>
    <meta charset="utf-8">
    <title>Riesgos</title>
    <% include partials/head %>
    <% include partials/Mapa %>
    </head>
    <body>
        
        <div class="dashboard_container top-container">
            <div class="tab-content" id="myTabContent">
                        <div class="card">
                                <div class="card-body Margenes">

                                        <h4><b>GESTIÓN DE RIESGOS</b></h4>
                                        <hr>
                                        <br>

                                  <div id="map"></div>
                                  <br><br>
                                  <div class="form-row">
                                        <div class="col d-flex justify-content-center">
                                                <p>Selecciona un Riesgo</p>
                                            </div>
                                        <div class="col"></div>
                                        
                                  </div>
                                  <div class="form-row">
                                      
                                    <div class="col">
                                        <%
                                        for(var i=0; i < Riesgos.length; i++){
                                            if(Playas.nombre === Riesgos[i].playa){
                                          %><button onclick="location.href='http://www.example.com'" type="button" class="btn btn-primary btn-block"> <%=Riesgos[i].nombre%> </button> <%
                                        }
                                    }
                                        %>
                                    </div>
                                    <div class="col-4"></div>
                                    <div class="col-3">
                                            <button onclick="location.href='/addRiesgo/<%=Playas.id%>'" type="button" class="btn btn-primary btn-block" >Añadir Riesgo</button>
                                    </div>
                                  </div>

                                </div>
                        </div>
            </div>
        </div>



    </body>
</html>