<html>
    <head>
    <meta charset="utf-8">
    <title>Riesgos</title>
    <% include partials/head %>
    <% include partials/Mapa %>
    </head>
    <body>
        
            <div class="container">
                    <!-- <h3>Popover Example</h3>
                    <a href="#" data-toggle="popover" id="element" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
                  </div> -->
                  
                  <script>

                          $(function () {
                            $('[data-toggle="popover"]').popover()
                            })
                  



                  </script>
                    
        <div class="dashboard_container top-container">
            <div class="tab-content" id="myTabContent">
                        <div class="card">
                                <div class="card-body Margenes">

                                        <h4><b>GESTIÓN DE RIESGOS</b></h4>
                                        <hr>
                                        <br>


                                  <div id="map"></div>
                                  <br><br>
                                  <div class="form-row">
                                        <div class="col d-flex justify-content-center">
                                                <p>Selecciona un Riesgo</p>
                                            </div>
                                        <div class="col"></div>
                                        
                                  </div>
                                  <div class="form-row">
                                        
                                    <div class="col">
                                        <%
                                        for(var i=0; i < Riesgos.length; i++){
                                            if(Playas.nombre === Riesgos[i].playa){
                                          %><button onclick="location.href='modificarRiesgo/<%=Riesgos[i]._id%>'" type="button" class="btn btn-primary btn-block"><%=Riesgos[i].nombre%></button>
                                          <%
                                        }
                                    }
                                        %>
                                    </div>
                                    <div class="col-auto">
                                        
                                            <%
                                            for(var i=0; i < Riesgos.length; i++){
                                                if(Playas.nombre === Riesgos[i].playa){
                                              %><button type="button" class="btn btn-light btn-block" onclick="location='/situaciones/<%=Riesgos[i]._id%>'" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Crear/Modificar Situaciones"><b>+</b></button> 
                                              <%
                                            }
                                        }
                                            %>
                                        </div>
                                    <div class="col-4"></div>
                                    <div class="col-3">
                                            <button onclick="location.href='/addRiesgo/<%=Playas.id%>'" type="button" class="btn btn-primary btn-block" >Añadir Riesgo</button>
                                    </div>
                                  </div>

                                </div>
                                
                        </div>
            </div>
        </div>
        <script>
        $(function () {
  $('[data-toggle="popover"]').popover()
})
        </script>

        
       

    </body>
</html>