<footer class="footer">

    <ul id="navlist" class="logos">
      <li><a href="https://www.cantabria.es" target="_blank" class="holder"><img src="/img/gobcantabria.png" style="max-width: 130px; height: auto; " /></a></li><!--
      --><li><a href="http://citican.org/" target="_blank"><img src="/img/citican.png" style="max-width: 130px; height: auto; " /></a></li><!--
      --><li><a href="http://www.sodercan.es/" target="_blank"><img src="/img/sodercan.png" style="max-width: 130px; height: auto; " /></a></li><!--
      --><li><a href="https://www.uneatlantico.es/" target="_blank"><img src="/img/uneatlantico.png" style="max-width: 130px; height: auto; " /></a></li>
    </ul>
  </footer>

  <style>




  /*Footer*/
#navlist li {
  display: inline;
  padding-right: 20px;
}

.logos{
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
}


  </style>